doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/jquery-3.3.1.js")
    script(src="/javascripts/main.js")
  body
    nav
      ul
        li
          a(href="/") Inicio
        li
          a(href="/api") API documentacion
        li
          a(href="/registro") Registro
        li
          a(href="/login") Login
        li
          a(href="/loginCheck") Login Check
        li
          a(href="/logout") Logout
block content
