extends layout
    
block content
  h1=user
  ul
    li
      button(type="button" id="info") Tu informacion
    li
      button(type="button" id="tusVideos") Tus Videos
  div(id="contenidoUsuario")
  